/* .center {
  text-align: center;
  font-family: monospace;
  margin-top: -200px;
}

.pagination {
  display: inline-block;
}

.pagination .btn {
  color: #000000;
  float: left;
  text-decoration: none;
  transition: background-color 0.5s;
  border: 1px solid #ddd;
  margin: 0 4px;
  font-size: 15px;
  margin-top: 10px;
}

a:hover {
  background-color: #90b2d8;
  color: white;
  cursor: pointer;
}
.btn {
  border: none;

  padding: 0px 0px;
  background-color: #f1f1f1;
  cursor: pointer;
  padding: 1px;
  width: 20px;
  color: blue;
  border: "grey";
}

/* Style the active class, and buttons on mouse-over */
