/* .tableTop {
  height: 140px;
  width: 98%;

  display: flex;

  border: 0.5px solid grey;
  margin-left: -10px;
  margin-top: 5px;
}

p {
  color: #3185e5;
}

.Tablecontent {
  height: 140px;
  margin-left: 5px;
} */
